.img_photo {
    border-radius: 5% 0 0 5%;
}

.greeting_name {
    font-size: calc(1.5em + 0.5vw) !important;
    font-weight: bold;
}

.arcylic {
    border-radius: 0 35px 35px 0;
    -webkit-backdrop-filter: blur(05px);
    backdrop-filter: blur(05px);
    min-height: 550px;
}

@media (prefers-color-scheme: dark) {
    .arcylic {
        background: rgba(0, 0, 0, 0.3);
    }
}

@media (prefers-color-scheme: light) {
    .arcylic {
        background: rgba(255, 255, 255, 0.3);
    }
}