
.icon_button {
    --icon-color: rgb(43, 43, 43);
    color: var(--icon-color);
}

.footer_text {
    --text-color: rgb(20, 20, 20);
    color: var(--text-color);
    font-weight: bold;
}

@media (prefers-color-scheme: dark) {
    .arcylic {
        background: rgba(0,0,0,1);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
}

@media (prefers-color-scheme: light) {
    .arcylic {
        background: rgba(255, 255, 255, 1);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
}